<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
                font-style: italic;
            }

            .body {
                padding: 5%;
                border-radius: 25px;
                background: #bce4f2; 
            }

            .log {
                display: inline;
                float: right;
            }
        </style>
    </head>
<body>

    <div class="body">
    <div>
        <a href="/">Blog Home Page</a> | <a href="/blog">All Blog Posts</a> | <a href="/newpost">Write A New Blog Post</a>


        <div class="log">
        <a href="/login">Login</a> | <a href="/logout">Logout</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    </body>
    <div>

</body>
</html>