{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Build-A-Blog</h1>



    {% if posts|length == 0 %}
    <p>No posts yet.</p>
    {% else %}

            {% for post in posts %}
            <hr>
            <h2><a href="/viewpost?id={{post.id}}">{{post.title}}</a>
                <!-- <form method='POST' action='/delete-post' style="display:inline-block" /> 
                <input type='hidden' name='post-id' value='{{post.id}}' />
                <input type='submit' value='Done!' />
                </form> -->
            </h2>
            <p>{{post.blog_body}}</p>
            {% endfor %}
        <hr>
    {% endif %}

<!-- <ul>
    {% for post in completed_posts %}
    <h3>{{post.title}}</h3>
    <p>{{post.blog_body}}</p>
    {% endfor %}
</ul> -->

{% endblock %}