{% extends "base.html" %}

{% block content %}
<h1>Log in to your blog!</h1>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{ username }}">
                <span class="error">{{username_error}}</span><span class="error">{{user_not_exist_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error">{{password_error}}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<p>If you don't have an account, you may <a href="/signup">sign up</a> for one</p>
{% endblock %}