{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Write a new post</h1>

<div>
    <form method='post'>
        <label for='title'>
            New Post Title:
            <input type='text' name='title' value="{{post_title}}" />
            <span class="error">{{title_error}}</span>
        </label>
    </div>
<br>
        <label for='blog_body'>
            Your new blog:
            <br>
            <textarea name='blog_body' rows="10" cols="40">{{blog_body}}</textarea>
        </label>
        <br>
        <input type='submit' />
        <span class="error">{{body_error}}</span>
    </form>

{% endblock %}